/* Additional layout-specific styles */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.dropdown-divider {
  border-top: 1px solid #e2e8f0;
  margin: 0.5rem 0;
}